body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 1700px; /* Aumentar a largura máxima do container */
    text-align: center;
    overflow-x: auto;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto; /* Mudar de fixed para auto */
}

th, td {
    padding: 15px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #007bff;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap; /* Evitar quebra de linha nos cabeçalhos */
}

td {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    color: #333;
}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

tr:hover td {
    background-color: #e0e7ff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; /* Adiciona margem superior */
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.5em;
    display: none;
}
